# Auto detect text files and perform LF normalization
* text=auto
https://nav-coop-sso.uottawa.ca/CoopNav.NET/Resume/viewresume.aspx?action=myresume&id=-3re9iXPvXvVnXHK_MTmwQ2&resumeid=W4rVCu41BgFsySrG1krd7g2